body {

  background-color: #FFF;

}

.main {
  position: relative;
  background-color: white;
  font-family: 'Lora', serif;
  font-size: 1.5em;
  color: black;
  line-height: 200%;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-pic{
  position: relative;
  width: 100%;
  height: 750px;
  background: #FFF url('../img/Tattoo003.jpg') no-repeat fixed;
  background-position: 50% 10%;
  background-size: auto 750px;
}

.header-pic-text{
  position: absolute;
  padding: 10px;
  text-align: left;
  color: black;
  width: 100%;
}

h1 {

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4em;
}

h3 {

  padding: 0px 0px 0px 5px;
}


.header-nav {
  position: absolute;
  bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  font-size: 1.0em;
  margin: 0px;
  width: 100%;
}

.header-nav a {
  padding: 20px 120px;
  color: #333;
}

.header-nav-option {  
  padding: 15px;
}

.header-nav-option:hover {
  background-color: white;
}

.header-nav a:hover {
  color: black;
  text-decoration: none;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin: auto;
  width: 1200px;
  z-index: 1030;
  border-radius: 0px;
  border-width: 0px;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  padding: 2px;
}

#logo-text {

  vertical-align:middle;
  text-align:center;

}

#logo-pic {
  height: 100%;
  margin: auto;
}

.intro-content {
  position: relative;
}

.intro-content p {
  text-align: left;
  margin: 60px 30px 60px 30px;
}

.content-pic {
  width: 100%;
  height: 500px;
  margin: 0px auto 0px auto;

  background-size: contain;
}

#content-pic-1{
  background: url('../img/HISTORY.png') no-repeat fixed;
}

#content-pic-2{
  background: url('../img/trend.png') no-repeat fixed;
}

#content-pic-3{
  background: url('../img/WHY TATTOO.png') no-repeat fixed;
}


.modal-dialog{
  width: 1000px;
}

.modal-content{
  border-radius: 0px;
  border: none;
}

.modal-header {
  padding: 25px 15px 25px 15px;
}

button.close {
  display: none;
}

.modal-body {
  padding: 0px;
}

.modal-body img {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

.modal-body p {
  margin: 20px 30px 20px 30px;
}

.modal-backdrop.in {
  opacity: 1;
}

.modal-backdrop {
  background-color: white;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}