body {

  background-color: #FFF;
    
}

.main {
  position: relative;
  background-color: white;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;

}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  width: 1200px;
  top: 0;
  z-index: 1030;
  border-radius: 0px;
  border-width: 0px;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  padding: 2px;
}

#logo-text {

  vertical-align:middle;
  text-align:center;

}

#logo-pic {
  height: 100%;
  margin: auto;
}

.carousel-indicators li{
  margin: 4px;
}

.carousel-indicators .active{
  margin: 3px;
}

.carousel-control.left, .carousel-control.right {
  display: none;
  background-image: none;
  height: 40%;
  top: 60%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 50%;
}

.intro-content p {
  text-align: left;
  margin: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    cursor: pointer;
    width: 100%;
    height: auto;
    margin: auto;
}

.modal-dialog{
  width: 1000px;
  position: relative;
  background-color: white;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;
}

.modal-content{
  border-radius: 0px;
  border: none;
}

.modal-header {
  padding: 25px 15px 25px 15px;
  border: none;
}

button.close {
  display: none;
}

.modal-body {
  padding: 0px;
}

.modal-body img {
  margin-right: 30px;
  margin-left: 30px;
  max-width: 940px;
}

.modal-body p {
  margin: 20px 60px 20px 60px;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-backdrop {
  background-color: white;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.glyphicon {
  font-size: 2em;
}
.content-pic {
  width: 100%;
  margin: 10px auto 10px auto;
}

#designer-view-filter {
  margin: auto;
  text-align: center;
}

.dropdown {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin: 20px;
}

.btn-primary, .btn-primary:focus {
  background-color: #666;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 0px;
  transition: background-color 0.3s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: black;
}

.dropdown-menu{
  border-radius: 0px;
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}

.dropdown-menu li {
  width: 200px;
  text-align: center;
}

.dropdown-menu > li > a {
  padding: 8px 0px;
  transition: color 0.3s;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  color: white;
}

.designer-view {
  margin: auto;
}

.designer-view-block-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 31;
  background-color: rgba(255,255,255,0);
  transition: background-color 1s;
}

.designer-view-block-mask:hover {
  background-color: rgba(255,255,255,0.4);
}

.designer-view-block-mask:hover h4 {
  background-color: rgba(0,0,0,1);
}

.designer-view-block-mask h4 {
  z-index: 32;
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  transition: background-color 1s;
}

.designer-view-block {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 5px;
  background-position: center; 
  background-size: 150%;
  background-repeat: no-repeat;
  color: white;
  transition: background-size 0.5s;
}

.designer-view-block:hover {
  background-size: 200%;
}

#work-dialog {
  margin: 100px auto;
}

#work-body {
  height: 700px;
}

#work-body, #work-dialog,  #work-content{
  background-color: rgba(0,0,0,0);
}

#work-pic {
  box-sizing: border-box;
  display: inline-block;
  width: 700px;
  height: 700px;
  border: solid;
  border-width: 0px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}

#work-designer {
  position: absolute;
  padding: 30px;
  display: inline-block;
  width: 300px;
  height: 700px;
  background-color: #FFF;
}

#work-designer-pic {

  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}

span.glyphicon {
    font-size: 0.8em;
    margin-right: 10px;
}

#name-inner {
  font-size: 2em;
  font-weight: bold;
  line-height: 200%;
}

#name-inner, #location-inner {
  color: black;
  cursor: pointer;
}

#name-inner:hover, #location-inner:hover {
  color: #666;
  text-decoration: none;
}


#designer-view-paging {
  margin: auto;
  text-align: center;
}

#designer-view-loading {
  margin: auto;
  padding: 200px;
  text-align: center;
}

#paging-bar {
  font-family: 'Montserrat', sans-serif;
}

#paging-bar a{
  color: black;
  border: none;
}

#paging-bar .active a{
  background-color: black;
  color: white;
}

.pagination-lg > li:first-child > a, .pagination-lg > li:last-child > a {
  border-radius: 0px;
}