body {

  background-color: #FFF;
    
}

.main {
  position: relative;
  background-color: white;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;

}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  font-size: 1.2em;
  width: 1200px;
  top: 0;
  z-index: 1030;
  border-radius: 0px;
  border-width: 0px;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  padding: 2px;
}

#logo-text {

  vertical-align:middle;
  text-align:center;

}

#logo-pic {
  height: 100%;
  margin: auto;
}

.modal-dialog{
  width: 1000px;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;
}

.modal-content{
  border-radius: 0px;
  border: none;
  padding: 20px;
}

.modal-header {
  padding: 25px 15px 25px 15px;
}

button.close {
  display: none;
}

.modal-body {
  padding: 0px;
}

.modal-body img {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

.modal-body p {
  margin: 20px 30px 20px 30px;
}

.modal-footer {
  text-align: left;
}

.alert {
  font-family: 'Montserrat', sans-serif;
}

.alert strong {
  margin-right: 10px;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-backdrop {
  background-color: white;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.content-pic {
  width: 100%;
  margin: 10px auto 10px auto;
}

#section-signin{
  position: relative;
  height: 800px;
  width: 100%;
  background: url('../img/login.png') no-repeat center;
  background-size: cover;
}

#signin {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  left: 173px;
  top: 444px;
  height: 75px;
  width: 310px;
}

#section-signin {
  margin: auto;
  text-align: center;
}

#section-data-form, #section-profile, #section-portfolio{
  display: none;
}

#section-data-form {
  margin: 100px;
}

#profile-name h1 {
  padding: 40px 40px 40px 20px;
  font-size: 4em;
}

#section-data-form h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

label {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
}

/*#form-left, #edit-form-left{
  display: inline-block;
  padding-right: 10%;
  height: 500px;
}

#form-right, #edit-form-right{
  display: inline-block;
  position: absolute;
}*/

#upload-modal .modal-dialog{
  width: 800px;
}

#submitItem {
  width: 100%;
  height: 20%;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

#go-to-manage {
  margin: 0px 15px;
}

#back-to-profile {
  width: 100px;
  height: 50px;
  margin: 20px 20px 20px 0px;
}

#item-left, #item-right{
  padding: 3% 10%;
}

#menu-panel {
  width: 100%;
  height: 400px;
  margin: 0px;
}

.menu-button{
  width: 100%;
  height: 370px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  transition: background-color 0.5s;
}

#prompt-dialog, #edit-dialog {
  width: 400px;
}

#view-dialog {
  width: 800px;
  height: 800px;
}

#view-dialog .modal-content {
  padding: 0px;
}

#prompt-body {
  text-align: center;
}

#prompt-body button {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.glyphicon {
  display: block;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#signout {
  margin: auto;
  width: 30%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  text-align: center;
  transition: background-color 0.5s;
}

#designer-picBox, #item-picBox, #edit-designer-picBox {
  cursor: pointer;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s;
}

#designer-picBox:hover, #item-picBox:hover, #edit-designer-picBox:hover {
  opacity: 0.5;
}

#designer-picData, #item-picData, #edit-designer-picData {
  display: none;
}

#submitData, #edit-submitData {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-top: 35px;
  height: 75px;
  width: 100%;
}

#designer-view-loading {
  margin: auto;
  text-align: center;
}

.designer-view-block {
  box-sizing: border-box;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 0px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.designer-view-block:hover .grid-button-row{
  opacity: 1;
}

.designer-view-block:hover h4{
  opacity: 1;
}

.designer-view-block h4 {
  opacity: 0;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  transition: opacity 0.4s;
}

#edit-buttons {
  text-align: center;
  margin-top: 30px;
}

#edit-buttons .btn {
  margin: 15px;
}

#view-prompt-img {
  width: 800px;
  height: 800px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}

#prompt-yes .glyphicon-trash {
  display: inline-block;
  font-size: 1em;
  margin-left: 5px;
  margin-bottom: 0px;
}

.grid-button-row {
  opacity: 0;
  margin: 170px 15px 0px 15px;
  transition: opacity 0.4s;
}

.grid-button-row .center-block {
  display: inline-block;
}

.designer-view-block .btn {
  width: 100%;
  height: 100%;
  font-size: 0.4em;
  padding: 5px;
}

.designer-view-block .glyphicon {
  margin: 10px;
}

#signin-info {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    width: auto;
  }
  #wrapper {
    width: auto;
  }
  #section-signin{
    position: relative;
    text-align: center;
    width: 100%;
    background: url('../img/signup-small.jpg') no-repeat center;
    background-size: cover;
  }
  #signin-info{
    display: block;
    width: 100%;
    height: 300px;
    padding-top: 10px;
    line-height: 175%;
    background-color: rgba(255,255,255,0.8);
  }
  #signin-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
  }
  #signin-info h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #666;
  }
  #signin {
    position: static;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-top: 50px;
    height: 75px;
    width: 310px;
  }
  #profile-name{
    text-align: center;
  }
  #menu-panel{
    height: auto;
    text-align: center;
  }
  .menu-button{
    width: 50%;
    min-width: 200px;
    margin: 15px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.5s;
  }
  #signout {
    margin: auto;
    width: 30%;
    min-width: 150px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
    transition: background-color 0.5s;
  }

  #upload-modal .modal-dialog {
    width: 80%;
  }

  #section-portfolio {  
    min-width: 440px;
  }

  .designer-view-block {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
  }
  .grid-button-row {
    margin-top: 0%;
    text-align: center;
  }
  .designer-view-block .btn{
    width: 50%;
    margin: 5px;
  }
  .designer-view-block .glyphicon{
    margin: 5px;
  }
  #profile-edit-dialog{
    width: 80%;
  }
  #prompt-dialog, #edit-dialog {
    width: 100%;
  }
  #view-dialog {
    width: 70%;
  }
  #view-prompt-img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}