body {

  background-color: #FFF;
    
}

.main {
  position: relative;
  background-color: white;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;

}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  width: 1200px;
  top: 0;
  z-index: 1030;
  border-radius: 0px;
  border-width: 0px;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  padding: 2px;
}

#logo-text {

  vertical-align:middle;
  text-align:center;

}

#logo-pic {
  height: 100%;
  margin: auto;
}

.carousel-indicators li{
  margin: 4px;
}

.carousel-indicators .active{
  margin: 3px;
}

.carousel-control.left, .carousel-control.right {
  display: none;
  background-image: none;
  height: 40%;
  top: 60%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 50%;
}

.intro-content p {
  text-align: left;
  margin: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    cursor: pointer;
    width: 100%;
    height: auto;
    margin: auto;
}

.modal-dialog{
  width: 1000px;
}

.modal-content{
  border-radius: 0px;
  border: none;
}

.modal-header {
  padding: 25px 15px 25px 15px;
}

button.close {
  display: none;
}

.modal-body {
  padding: 0px;
}

.modal-body img {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

.modal-body p {
  margin: 20px 30px 20px 30px;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-backdrop {
  background-color: white;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.glyphicon {
  font-size: 2em;
}
.content-pic {
  width: 100%;
  margin: 10px auto 10px auto;
}

#submitItem, #signout {
  margin: 20px 0px 20px 0px;
}


#section-data-form, #section-profile{
  display: none;
}

#profile-name h1 {
  margin: 40px;
}

#designer-picBox, #item-picBox {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid;
  border-width: 2px;
  background-size: contain;
  background-repeat: no-repeat;
}

#designer-picData, #item-picData {
  display: inline-block;
}

.designer-view-block {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 1px;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

.designer-view-block h4 {
  padding: 5px;
  background-color: black;
}