body {

  background-color: #FFF;
    
}

.main {
  position: relative;
  background-color: white;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;

}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  width: 1200px;
  top: 0;
  z-index: 1030;
  border-radius: 0px;
  border-width: 0px;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  padding: 2px;
}

#logo-text {

  vertical-align:middle;
  text-align:center;

}

#logo-pic {
  height: 100%;
  margin: auto;
}

.modal-dialog{
  width: 1000px;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: black;
  line-height: 200%;
}

.modal-content{
  border-radius: 0px;
  border: none;
  padding: 20px;
}

.modal-header {
  padding: 25px 15px 25px 15px;
}

button.close {
  display: none;
}

.modal-body {
  padding: 0px;
}

.modal-body img {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

.modal-body p {
  margin: 20px 30px 20px 30px;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-backdrop {
  background-color: white;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.content-pic {
  width: 100%;
  margin: 10px auto 10px auto;
}

#section-signin{
  position: relative;
  height: 800px;
  width: 100%;
  background: url('../img/login.png') no-repeat center;
  background-size: cover;
}

#signin {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  left: 173px;
  top: 444px;
  height: 75px;
  width: 310px;
}

#section-signin {
  margin: auto;
  text-align: center;
}

#section-data-form, #section-profile{
  display: none;
}

#section-data-form {
  margin: 100px;
}

#profile-name h1 {
  padding: 40px 40px 40px 20px;
  font-size: 4em;
}

#section-data-form h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

label {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
}

#form-left{
  display: inline-block;
  padding-right: 10%;
  height: 500px;
}

#form-right {
  display: inline-block;
  position: absolute;
}

#upload-modal .modal-dialog{
  width: 800px;
}

#submitItem {
  width: 100%;
  height: 20%;
  margin-top: 215px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

#item-left, #item-right {
  padding: 3% 10%;
}

#menu-panel {
  width: 100%;
  height: 400px;
  margin: 0px;
}

.menu-button{
  width: 100%;
  height: 370px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  transition: background-color 0.5s;
}

.glyphicon {
  display: block;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#signout {
  margin: auto;
  width: 30%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  text-align: center;
  transition: background-color 0.5s;
}

#designer-picBox, #item-picBox {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s;
}

#designer-picBox:hover, #item-picBox:hover {
  opacity: 0.5;
}

#designer-picData, #item-picData {
  display: none;
}

#submitData {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-top: 35px;
  height: 75px;
  width: 300px;
}

#designer-view-loading {
  margin: auto;
  text-align: center;
}

.designer-view-block {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 0px;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  transition: opacity 1s;
}

.designer-view-block:hover{
  opacity: 0.5;
}

.designer-view-block h4 {
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
}